In [1]:
import pandas as pd

REPORT_PATH = "/Users/jakobschneider/Machine Learning/Data_LCC/reporting/ship_report_imo_2024.parquet"
df_report = pd.read_parquet(REPORT_PATH)

print("Rows:", df_report.shape[0])
print("Unique IMOs:", df_report["IMO"].nunique())

Rows: 6210
Unique IMOs: 6210

In [5]:
example_imo = df_report["IMO"].iloc[6100]
example_imo

np.int64(9966764)

In [6]:
ship = df_report[df_report["IMO"] == example_imo]

ship

,IMO,ship_name,VesselType,mrv_ship_type,report_year,ais_distance_nm_total,ais_time_hours_total,ais_points,sog_mean_kn,sog_p50_kn,...,moving_share,Length,Width,draft_m_median,y_mrv_co2_per_nm_kg,y_pred_co2_per_nm_kg,residual_kg,residual_pct,flag_color,flag_reason
6100,9966764,CMA CGM FORT JAMES,79.0,Container ship,2024,1285.759766,388.908333,8278,5.270681,0.5,...,0.294337,268.0,44.0,14.2,530.65,496.999632,33.650368,0.063413,GREEN,ok

In [7]:
ship.T

                                     6100
IMO                               9966764
ship_name              CMA CGM FORT JAMES
VesselType                           79.0
mrv_ship_type              Container ship
report_year                          2024
ais_distance_nm_total         1285.759766
ais_time_hours_total           388.908333
ais_points                           8278
sog_mean_kn                      5.270681
sog_p50_kn                            0.5
sog_p95_kn                           17.0
moving_share                     0.294337
Length                              268.0
Width                                44.0
draft_m_median                       14.2
y_mrv_co2_per_nm_kg                530.65
y_pred_co2_per_nm_kg           496.999632
residual_kg                     33.650368
residual_pct                     0.063413
flag_color                          GREEN
flag_reason                            ok